.headerStyle{
    background-image: linear-gradient(75deg, #e8867012 0%, #e8867094 100%);
        color: rgba(10, 79, 242, 0.93);
       height: 10vh;
        font-family: Franklin Gothic Medium;
        margin-bottom: -2em;
}